<%= simple_form_for(opensource_project) do |f| %>
  <%= render "/shared/error_messages", target: opensource_project %>

  <%= f.input :title %>
  <%= f.input :avatar %>
  <%= f.input :slug %>
  <%= f.input :license %>
  <%= f.input :dev_language %>
  <%= f.input :operator_os %>
  <%= f.input :doc_url %>
  <%= f.input :proj_url %>
  <%= f.input :summary, as: :text %>

  <%= render "/shared/editor_toolbar" %>

  <div class="form-group">
    <%= f.text_area :body, class: 'topic-editor form-control', input_html: { rows: 20 } %>
  </div>

  <div class="form-actions">
    <%= f.submit t("common.save"), class: "btn btn-primary col-xs-2", 'data-disable-with' => t("common.saving"), 'data-tb' => "save-topic" %>
  </div>
<% end %>
