<% title_tag t('plugin.opensource_project') %>

<div class="row">
  <%= render 'sidebar' %>
  <div class="col-md-9">

    <%= render 'projects_thumbnail' %>
    <div id="opensource_project-list" class="panel panel-default opensource_project-<%= action_name %>">
      <div class="panel-heading">最新收录开源项目</div>
      <div class="panel-body">
        <% if @opensource_projects.blank? %>
          <div class="no-result"><%= t('plugin.no_project') %></div>
        <% else %>
          <%= render partial: 'opensource_project', collection: @opensource_projects %>
        <% end %>

        <%= paginate @opensource_projects %>
      </div>
    </div>
  </div>

</div>
