<% title_tag t('plugin.press') %>

<div class="row">
  <div class="col-md-9">
    <div id="opensource_project-upcoming" class="panel panel-default opensource_project-<%= action_name %>">
      <div class="panel-heading">待审核列表</div>
      <div class="panel-body">
        <% if @opensource_projects.blank? %>
          <div class="no-result">暂无任何文章</div>
        <% else %>
          <table class="table table-bordered table-striped table-condensed">
            <tr>
              <th>#</th>
              <th>标题</th>
              <th>提交人</th>
              <th>更新时间</th>
            </tr>
            <% @opensource_projects.each do |opensource_project| %>
            <tr class="opensource_project">
              <td><%= opensource_project.id %></td>
              <td class="title"><%= link_to opensource_project.title, opensource_project %></td>
              <td class="author"><%= user_name_tag(opensource_project.user) %></td>
              <td class="time"><%= timeago opensource_project.updated_at %></td>
            </tr>
            <% end %>
          </table>
        <% end %>

        <%= paginate @opensource_projects %>
      </div>
    </div>
  </div>
  <%= render 'sidebar' %>
</div>
